server {
  listen 443 ssl;
#    listen 80;
  server_name poc-gateway.{{ domain }};
  access_log {{ data_path }}/logs/poc-gateway.hzgm.tech-access.$year-$month-$day.log  json_combined;
  error_log  {{ data_path }}/logs/error.log;
  ssl_certificate      {{ data_path }}/conf.d/ssl/hzgm.tech.pem;
  ssl_certificate_key  {{ data_path }}/conf.d/ssl/hzgm.tech.key;
  ssl_session_timeout 5m;
  ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE:ECDH:AES:HIGH:!NULL:!aNULL:!MD5:!ADH:!RC4;
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_prefer_server_ciphers on;
  location / {
     proxy_pass http://172.30.0.14:8000;
     proxy_set_header Host $host;
     proxy_set_header X-Real-IP $remote_addr;
     proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

   }

}
