# DataSource
spring.datasource.url = jdbc:mysql://{{ apollo_mysql_address }}:3306/{{ apollo_mysql_portaldb }}?characterEncoding=utf8
spring.datasource.username = {{ apollo_mysql_user }}
spring.datasource.password = {{ apollo_mysql_pass }}
