[client]
port = 3306
socket = /tmp/mysql.sock
default-character-set = utf8

[mysqld]
server-id = 1
port = 3306
socket = /tmp/mysql.sock
basedir = /usr/local/services/mysql-5.6.21
datadir = /data/mysql
pid-file = /data/mysql/mysql.pid
character_set_server = utf8

log-bin=mysql-bin
binlog_format = MIXED
log-bin-index = mysql-bin.index
relay-log = relay-log
relay_log_index = relay-log.index
max_binlog_size = 1G
expire_logs_days = 30            #下次清除日志时，清除30天以前的日志
log_warnings
long-query-time = 1
slow_query_log = ON
slow_query_log_file = /data/mysql/slow.log

max_connections = 1000
max_allowed_packet = 64M
binlog_cache_size = 1M
max_heap_table_size = 128M
sort_buffer_size = 16M
join_buffer_size = 8M
thread_concurrency = 8
query_cache_size = 64M            #缓存查询
query_cache_limit = 2M
tmp_table_size = 64M

#MyISAM参数优化
key_buffer_size = 16G            #索引块缓冲区大小，建议内存的1/4
read_buffer_size = 8M            #读表缓冲区大小，每个session独占
read_rnd_buffer_size = 16M        #排序读表缓冲区大小，每个session独占
bulk_insert_buffer_size = 64M    
myisam_sort_buffer_size = 128M

skip-federated

#Innodb参数优化
innodb_additional_mem_pool_size = 16M
innodb_buffer_pool_size = 48G                #innodb表数据和索引数据最大缓存区小大，值越大缓存命中越高，建议80%的物理内存(除去系统和其它应用程序的内存开销)
innodb_data_home_dir = /data/mysql
innodb_data_file_path = ibdata1:10M:autoextend
innodb_file_io_threads = 4
innodb_thread_concurrency = 16
innodb_log_group_home_dir = /data/mysql
innodb_flush_log_at_trx_commit = 1            #0每秒触发一次缓存日志写回磁盘操作，调用操作系统fsync刷新IO缓存；1每个事务commit时，立即将缓存日志写入磁盘； 2每个事务commit时，立即将缓存日志写入磁盘 刷新磁盘IO缓存，但每秒只做一次磁盘IO缓存刷新
innodb_log_buffer_size = 8M
innodb_log_file_size = 256M
innodb_log_files_in_group = 6
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 120

[mysqldump]
quick
max_allowed_packet = 64M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer = 512M
sort_buffer_size = 64M
read_buffer = 8M
write_buffer = 8M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
log-error = /data/mysql/mysql.err
pid-file = /data/mysql/mysql.pid


sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
